@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');

:root {
  --large-font: "Kaisei Tokumin", serif;
  --small-font: "Poppins", sans-serif;
  --pink: #e5345b;
}

body {
  font-family: var(--small-font);
}

.bg-primary {
  background: var(--pink) !important;
}

/* Text */
.text-primary{
  color: var(--pink) !important;
}

/* Button */
.btn:not(.nav-btns button){
  background: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
  background: var(--pink);
  color: #fff;
  border: var(--pink);
}

/* Navbar */
.navbar {
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, .1);
}

.navbar-brand {
  letter-spacing: 2px;
  font-family: var(--large-font);
}

.nav-link:hover {
  color: var(--pink) !important;
}

.nav-item {
  border-bottom: .5px solid rgba(0, 0, 0, .05);
}

.nav-btns span {
  z-index: 1;
}

/* Header */
#header {
  background: url(../images/bannerfinal.png) top/cover no-repeat;
  padding-top: 104px;
}

.carousel-inner h1 {
  font-size: 60px;
  font-family: var(--large-font);
}

.carousel-inner .btn {
  border: #fff !important;
}

.carousel-inner .btn:hover {
  border: var(--pink) !important;
}

/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 50px;
  background: var(--pink);
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Collection */
.active-filter-btn {
  background: var(--pink) !important;
  color: #fff !important;
  border: var(--pink) !important;
}

.active-filter-btn:hover{
  background: #fff !important;
  color: rgb(85, 85, 85) !important;
  padding: 10px 28px !important;
  border-radius: 25px !important;
  border: 1px solid rgb(85, 85, 85) !important;
}

.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

/* Special */
.special-img img{
  transition: all .3s ease;
}
.special-img img:hover{
  transform: scale(1.2);
}
.special-img span{
  top:20px;
  right: 20px;
}

.special-list .btn{
  padding: 8px 20px !important;
}

@media(min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}